<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="5.0">
	<display-name>ServletConfigAndServletContext</display-name>
	<servlet>
	  <servlet-name>abc</servlet-name>
	  <servlet-class>mario.backend.MyServlet</servlet-class>
	  
	  <init-param>
	    <param-name>name</param-name>
	    <param-value>Pritam</param-value>
	  </init-param>
	  
	</servlet>
	
	<servlet-mapping>
	  <servlet-name>abc</servlet-name>
	  <url-pattern>/home</url-pattern>
	</servlet-mapping>
	
	<context-param>
	  <param-name>name</param-name>
	  <param-value>Soumodip</param-value>
	</context-param>
	
	<context-param>
	  <param-name>phone</param-name>
	  <param-value>Samsung</param-value>
	</context-param>
</web-app>